# Nuclide

Documentation/html/
ThirdParty/

# Tools

fteqcc
fteqw
imgtool
vmap
vvmtool

# FTEQW / idTech engine files

condump.txt
config.cfg
conhistory.txt
csqccore.txt
entities.def
fte.cfg
fullchain.pem
installed.lst
iplog.txt
maptimes.txt
menucore.txt
nuclide.cfg
privkey.pem
qkey
ssqccore.txt

# Development and Data files

*.dat
*.fsv
*.ico
*.kdev4
*.kdev4
*.lno
*.log
*.lvc
*.pak
*.pk3
*.pk3
*.pk4
*.way

# Binary files
*_x86*
*_x64*
*.dll

# Known Games and Mods
#
# Ideally you would add
# your project here as well

action/
AbsoluteZero/
base_pbr/
baseq2/
baseq3/
bshift/
duke3d/
coterminus/
cod/
cod4/
css/
cstrike/
czero/
czeror/
darkstar/
dmc/
dods/
fortress/
gangstawars/
gearbox/
gmod9/
hhdeath/
hl2/
hl2mp/
hunger/
id1/
left4dead/
nightfire/
noffice/
overturn/
poke646/
portal/
pvk/
ranon/
rewolf/
scihunt/
ship/
tf/
tf2/
tfc/
dk/
basedk/
mainkp/
ts/
valve/
wastes/
zp/
