*~
darkstar/
noffice/
pvk/
ship/
src/client/cstrike.new
src/server/cstrike.new
src/shared/cstrike.new
src/client/hl2
src/server/hl2
src/shared/hl2
src/client/wastes
src/server/wastes
src/shared/wastes
*.lno
*.pk3
*.dat
*.way
*.lvc
*.fsv
*.pak
*.pk3
*.pk4
csqccore.txt
ssqccore.txt
menucore.txt
conhistory.txt
condump.txt
config.cfg
fte.cfg
qkey
installed.lst
*.kdev4
hl2/*
*.ico
